

body {
    padding:0;
    margin:0;
    font-family: Arial, sans-serif;
    background-image:url("https://sm.ign.com/t/ign_tr/news/t/the-batman/the-batman-matt-reeves-reveals-robert-pattinsons-bruce-wayne_cdac.1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    color:white;
}

@media (max-width:1800px) {
    body {
        background-position:center;
        background-color:rgba(255, 0, 0, 0.925);
    }
}

.container{
    justify-content: center;
}

.login-left {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.login-left h1 {
    text-align: center;
    margin-bottom: 20px;

}

.form-item{
    margin-bottom: 15px;
}

.form-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-item input[type="text"],
.form-item input[type="password"] {
    width: 100%;
    padding: 7px;
    background-color:rgba(150, 140, 140, 0.527);
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #9e959571;
}

.login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color:rgba(8, 219, 78, 0.274);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover{
    background-color: #45a049;
}

.login-header p {
    text-align: center;

}

.facebook-log{
    background-color:aqua;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    width:190px;
    height:40px
}

.facebook-log:hover{
    background-color: aquamarine;
}

.facebook-log img{
    margin-top: 3px;

}

.login-form-footer{
    display: flex;
    text-align: center;
}

.checkbox {
    font-weight: bold;
}
.google-log{
    background-color:rgb(201, 211, 211);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    width:190px;
    margin-left: 10px;
    height:40px;
}

.google-log img{
    margin-top: 3%;
}

.google-log:hover{
    background-color: #9b9696;
}


.container{
    margin-top:10%;
}

a {
    color:black;
    text-decoration: none;
}