
@media (max-width:500px){
    .main-doc{
      width:15px;
    }
  }
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:10px;
}
li{
    margin: 20px;
}
.box{
    background-color:dimgray;
    height:10%;
    width:75%;
    display:flex;
    text-align:left;
}
.box > h1{
    margin:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    margin-left:10px;
}
html {
    scroll-behavior: smooth;
  }